Repository JoShMiQueL/cookie-clicker-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: area/gui, area/core, area/build, area/ci, area/docs, area/tests, dependencies, config

.github/labeler.yml:

# Label PRs based on changed files

area/gui:
  - changed-files:
    - any-glob-to-any-file:
      - src/gui.py
      - src/overlay.py

area/core:
  - changed-files:
    - any-glob-to-any-file:
      - src/clicker.py
      - src/window_finder.py
      - src/config.py

area/build:
  - changed-files:
    - any-glob-to-any-file:
      - CookieClickerBot.spec
      - pyproject.toml

area/ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*
      - .pre-commit-config.yaml

area/docs:
  - changed-files:
    - any-glob-to-any-file:
      - README.md
      - CONTRIBUTING.md
      - docs/**/*
      - '**/*.md'

area/tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*
      - '**/test_*.py'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - pyproject.toml

config:
  - changed-files:
    - any-glob-to-any-file:
      - ruff.toml
      - .pre-commit-config.yaml
      - pyproject.toml

style: apply ruff formatting to gui and main modules
  src/gui.py
  src/main.py
Labels: area/gui

fix(ci): always run pre-commit on all files to ensure consistency
  .github/workflows/lint.yml
Labels: area/ci

feat(ci): integrate pr statistics into pr labeler workflow
  .github/WORKFLOWS.md
  .github/workflows/pr-labeler.yml
Labels: area/ci, area/docs

style(ci): move emojis to left in pr statistics table
  .github/workflows/pr-labeler.yml
Labels: area/ci

feat(ci): add hierarchical ci pipeline with quality gates
  .github/WORKFLOWS.md
  .github/workflows/build.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/lint.yml
  README.md
Labels: area/ci, area/docs

feat: add comprehensive ci/cd workflows and conventional commits enforcement (#2)
  .github/WORKFLOWS.md
  .github/workflows/build.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/lint.yml
  .github/workflows/pr-labeler.yml
  README.md
  src/gui.py
  src/main.py
Labels: area/gui, area/ci, area/docs

Update README.md
  README.md
Labels: area/docs

feat: support window titles with large number formats
  README.md
  src/window_finder.py
Labels: area/core, area/docs

refactor: simplify project structure and fix pyinstaller build
  CookieClickerBot.spec
  README.md
  main.py
  scripts/build.py
  src/main.py
Labels: area/build, area/docs

feat: support window titles with large number formats (#3)
  README.md
  src/window_finder.py
Labels: area/core, area/docs

refactor: simplify project structure and fix pyinstaller build (#4)
  CookieClickerBot.spec
  README.md
  main.py
  scripts/build.py
  src/main.py
Labels: area/build, area/docs

fix(ci): update git-cliff-action to v4
  .github/workflows/changelog.yml
Labels: area/ci

fix(ci): update git-cliff-action to v4 (#5)
  .github/workflows/changelog.yml
Labels: area/ci

refactor: standardize pr size labels nomenclature
  .github/WORKFLOWS.md
  .github/workflows/pr-labeler.yml
Labels: area/ci, area/docs

refactor: standardize pr size labels nomenclature (#6)
  .github/WORKFLOWS.md
  .github/workflows/pr-labeler.yml
Labels: area/ci, area/docs

refactor: create reusable build workflow to eliminate redundancy
  .github/workflows/build-executable.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/release.yml
Labels: area/ci

feat: integrate changelog generation into release workflow
  .github/WORKFLOWS.md
  .github/workflows/changelog.yml
  .github/workflows/release.yml
Labels: area/ci, area/docs

feat: optimize release workflow with reusable build and automatic versioning (#7)
  .github/WORKFLOWS.md
  .github/workflows/build-executable.yml
  .github/workflows/changelog.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/release.yml
Labels: area/ci, area/docs

fix: use bash syntax instead of powershell in release type detection
  .github/workflows/release.yml
Labels: area/ci

fix: use bash syntax instead of powershell in release type detection (#8)
  .github/workflows/release.yml
Labels: area/ci

fix: add missing type variable and fix here-string indentation
  .github/workflows/release.yml
Labels: area/ci

fix: add missing type variable and fix here-string indentation (#9)
  .github/workflows/release.yml
Labels: area/ci

feat: add automated changelog management with git-cliff
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  cliff.toml
  pyproject.toml
Labels: area/build, area/ci, area/docs, dependencies, config

feat: add automated changelog management with git-cliff (#10)
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  cliff.toml
  pyproject.toml
Labels: area/build, area/ci, area/docs, dependencies, config

feat: implement comprehensive ci/cd pipeline with solid principles
  .github/workflows/ci-cd-orchestrator.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/pipeline-report.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-management.yml
  .github/workflows/quality-checks.yml
  .github/workflows/release-pipeline.yml
  .github/workflows/release.yml
Labels: area/ci

feat: implement comprehensive ci/cd pipeline with solid principles
  .github/actions/pipeline-report/action.yml
  .github/actions/pr-statistics/action.yml
  .github/actions/pr-validation/action.yml
  .github/actions/quality-checks/action.yml
  .github/workflows/ci-cd-orchestrator.yml
  .github/workflows/pipeline-report.yml
  .github/workflows/pr-management.yml
  .github/workflows/quality-checks.yml
Labels: area/ci

refactor: remove duplicate checkout steps from composite actions
  .github/actions/pr-validation/action.yml
  .github/actions/quality-checks/action.yml
  .github/workflows/ci-cd-orchestrator.yml
Labels: area/ci

feat: change quality-gate job to run on windows
  .github/workflows/ci-cd-orchestrator.yml
Labels: area/ci

fix: modify ci quality checks to handle pre-commit fixes by committing them
  .github/actions/quality-checks/action.yml
Labels: area/ci

fix: correct yaml syntax for merge conflict check in pr validation
  .github/actions/pr-validation/action.yml
Labels: area/ci

fix: add permissions for pr validation job to allow labeling and commenting
  .github/workflows/ci-cd-orchestrator.yml
Labels: area/ci

ci: change test execution job to run on windows-latest
  .github/workflows/ci-cd-orchestrator.yml
Labels: area/ci

ci: disable test execution phase by commenting it out
  .github/workflows/ci-cd-orchestrator.yml
Labels: area/ci

fix: add permissions to report job for commenting on prs
  .github/workflows/ci-cd-orchestrator.yml
Labels: area/ci

feat: implement comprehensive ci/cd pipeline with solid principles (#12)
  .github/actions/pipeline-report/action.yml
  .github/actions/pr-statistics/action.yml
  .github/actions/pr-validation/action.yml
  .github/actions/quality-checks/action.yml
  .github/workflows/ci-cd-orchestrator.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-pipeline.yml
  .github/workflows/release.yml
Labels: area/ci

feat: improve cps ui with customtkinter modernization and new cps controls
  CookieClickerBot.spec
  cookie.ico
  pyproject.toml
  src/__init__.py
  src/gui.py
Labels: area/gui, area/build, dependencies, config

feat: improve cps ui with customtkinter modernization and new cps controls (#13)
  CookieClickerBot.spec
  cookie.ico
  pyproject.toml
  src/__init__.py
  src/gui.py
Labels: area/gui, area/build, dependencies, config

fix(ci): resolve git-cliff command not found error in release pipeline
  .github/workflows/release-pipeline.yml
Labels: area/ci
